@font-face {
    font-family: PT-Bold-Heading;
    src: url(../Fonts/PT\ Bold\ Heading.ttf);
}

@font-face {
    font-family: Omnes-Arabic-HairLine-Bold;
    src: url(../Fonts/ArbFONTS-OMNES-ARABIC-BOLD.ttf);
}

@font-face {
    font-family: Omnes-Arabic-HairLine;
    src: url(../Fonts/ArbFONTS-OMNES-ARABIC-REGULAR.ttf);
}

@font-face {
    font-family: Arial-Black;
    src: url(../Fonts/Arial\ Black.ttf);
}

body {
    font-family: Omnes-Arabic-HairLine-Bold;
}

#Agricultural_Power_Energy_H1,
#Agricultural_Power_Energy_H2 {
    font-size: 50px;
    font-family: Omnes-Arabic-HairLine-Bold !important;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

:root {
    --crsl-bg: transparent;
    --box-bg: #1e272e;
    --box-shadow: #000 1c;
    --box-shadow-border: #000 0f;
    --box-border: #fff;
}

html>.carousel,
body>.carousel {
    padding-top: 125px;
}

.carousel {
    position: relative;
    display: block;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}

.carousel__prev,
.carousel__next {
    position: absolute;
    bottom: -15%;
    transition: transform 0.25s ease;
}

.carousel__prev i,
.carousel__next i {
    font-size: 60px;
    /* color: var(--box-border); */
    color: black;
    cursor: pointer;
}

.carousel__prev:hover,
.carousel__next:hover {
    transform: scale(1.25);
}

.carousel__prev {
    left: 40%;
}

.carousel__next {
    right: 40%;
}

.carousel__body {
    width: 100%;
    padding: 20px 0 50px 0;
    overflow: hidden;
    height: 600px;
}

.carousel__body .carousel__slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: var(--crsl-bg);
}

.carousel__body .carousel__slider__item {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.carousel__body .carousel__slider__item .item__3d-frame {
    position: relative;
    /* width: 100%;
    height: 100%; */
    width: 400px;
    height: 450px;
    transition: transform 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel__body .carousel__slider__item .item__3d-frame:after {
    content: '';
    position: absolute;
    bottom: -15%;
    width: 100%;
    height: 40px;
    background: var(--box-shadow);
    box-shadow: 0px 0px 5px 5px var(--box-shadow);
    transform: rotateX(90deg) translate3d(0px, -20px, 0px);
    opacity: 0.85;
}

.carousel__body .carousel__slider__item .item__3d-frame__box {
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border-color: var(--box-border); */
    border-color: wheat;
    background: var(--box-bg);
    border-width: 10px;
    /* border-style: dotted; */
    /* border-style: dashed; */
    border-style: double;
}

.carousel__body .carousel__slider__item .item__3d-frame__box h1 {
    font-size: 30px;
    width: 100%;
    color: var(--box-border);
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right,
.carousel__body .carousel__slider__item .item__3d-frame__box--left {
    top: 0;
    width: 50px;
    backface-visibility: hidden;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--left {
    left: 0;
    border-left-width: 5px;
    transform: translate3d(1px, 0, -50px) rotateY(-90deg);
    transform-origin: 0%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right {
    right: 0;
    border-right-width: 5px;
    transform: translate3d(-1px, 0, -50px) rotateY(90deg);
    transform-origin: 100%;
}




/**Objectives Section**/

#Objectives_Section {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #444; */
    /* overflow-x: hidden !important; */
    overflow-x: hidden !important;
    height: 600px;
    overflow-y: hidden;
    width: 99%;
    margin: auto;
    background-color: rgb(243, 235, 223) !important;

}

/* a,
a:visited,
a:active {
    color: inherit;
} */

.header {
    margin: 0.67em 0;
    color: goldenrod;
    /* background-color: #444444DD; */
    background-color: black;
    border: 3px solid goldenrod;
    border-radius: 10px;
    padding: 10px;
    width: 550px;
    max-width: 95vw;
    z-index: 2;
}

/* .footer {
    color: goldenrod;
    height: 50px;
    line-height: 50px;
} */

.title {
    font-size: 2em;
    font-weight: bold;
}

.subtitle {
    font-size: 0.83em;
    font-weight: bold;
}

.song__title,
.song__year,
.song__artist {
    display: block;
}

.Objectives_carousel {
    display: flex;
    align-items: center;
    position: relative;
    padding: 130px 0;
}

.Objectives_carousel__scene {
    position: relative;
    width: 510px;
    height: 460px;
    max-width: 95vw;
    padding-top: 150px;
    perspective: 100px;
    /*overflow: hidden;*/
}

.Objectives_carousel__controls {
    width: 150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    right: 180px;
    top: 50px;
}

.previous-button,
.next-button {
    margin: 5px 0;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-family: monospace;
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid goldenrod;
    border-radius: 10px;
    /* background-color: #444; */
    background-color: black;
}

.previous-button:focus,
.next-button:focus {
    outline: none;
    box-shadow: 0 0 6px 3px goldenrod;
}

.Objectives_carousel__list {
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
    list-style: none;
    counter-reset: list-counter;
}

.Objectives_carousel__cell {
    position: absolute;
    width: 600px;
    height: 200px;
    max-width: calc(95vw - 20px);
    left: -30px;
    top: 10px;
    border: 10px double white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: transform 1s, opacity 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    counter-increment: list-counter;
    /* background-color: rgba(128, 128, 128, 0.75); */
    background-color: black;
}

.Objectives_carousel__cell::before {
    /* content: counter(list-counter); */
    color: white;
    text-shadow: 2px 2px black;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.Objectives_carousel__cell.selected {
    color: goldenrod;
    border-color: goldenrod;
    border-width: 5px;
    /*filter: none;*/
}

.Objectives_carousel__cell.selected::before {
    color: goldenrod;
}

.Objectives_carousel__cell:nth-child(1) {
    transform: rotateX(0deg) translateZ(288px);
}

.Objectives_carousel__cell:nth-child(2) {
    transform: rotateX(40deg) translateZ(288px);
}

.Objectives_carousel__cell:nth-child(3) {
    transform: rotateX(80deg) translateZ(288px);
}

.Objectives_carousel__cell:nth-child(4) {
    transform: rotateX(120deg) translateZ(288px);
}

.Objectives_carousel__cell:nth-child(5) {
    transform: rotateX(160deg) translateZ(288px);
}

.Objectives_carousel__cell:nth-child(6) {
    transform: rotateX(200deg) translateZ(288px);
}

.Objectives_carousel__cell:nth-child(7) {
    transform: rotateX(240deg) translateZ(288px);
}

.Objectives_carousel__cell:nth-child(8) {
    transform: rotateX(280deg) translateZ(288px);
}

.Objectives_carousel__cell:nth-child(9) {
    transform: rotateX(320deg) translateZ(288px);
}



/** Achieviements Section **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Achievements_Section {
    display: flex;
    flex-direction: column;
    /* Arrange elements in a column */
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Omnes-Arabic-HairLine-Bold !important;
    width: 90%;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
}

.Achieviements_header {

    text-align: center;
    /* Center align text */
    margin-bottom: 30px;
    /* Space below header */
    padding: 20px;
    /* Add padding around header */
    /* background-color: #f0f8ff; */
    background-color: #1e272e;
    /* Light background color for header */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow effect */
}

.Achieviements_header__title {
    font-size: 4rem;
    /* Large title font size */
    /* color: #2980b9; */
    color: white;
    /* Color for the title */
    margin: 0;
    /* Remove margin */
}

.Achieviements_header__subtitle {
    font-size: 2rem;
    /* Smaller subtitle font size */
    /* color: #555; */
    /* color:  rgb(243, 235, 223); */
    color: wheat;
    /* Subtitle color */
    margin-top: 10px;
    /* Space above subtitle */
}

.container {
    position: relative;
    perspective: 1200px;
}

.card {
    width: 600px;
    height: 500px;
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.card__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card__front {
    /* background-color: #3498db; */
    background-color: black;
    color: white;
}

.card__back {
    /* background-color: #f39c12; */
    background-color: rgb(243, 235, 223) !important;
    transform: rotateY(180deg);
    color: black;
}

.icon {
    /* width: 300px; */
    /* height: 300px; */
}

.paragraph {
    padding: 20px;
    font-size: 35px;
    text-align: center;
}

.Achieviements_next_button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 25px !important;

}

.Achieviements_next_button:hover {
    background-color: #1e6f94;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    /* Same width as the card */
}




@media screen and (max-width : 1300px) {
    .carousel {
        height: 1150px;
    }

    .carousel__body {
        height: 1150px;
    }

    .carousel__body .carousel__slider__item .item__3d-frame {
        width: 300px;
        height: 1000px;
    }

    .carousel__body .carousel__slider__item .item__3d-frame__box h1 {
        font-size: 35px;
        width: 100%;
        color: var(--box-border);
    }

    .Objectives_carousel__controls {
        top: 0px;
    }

    #Objectives_Section {
        height: 700px;
    }
    #Achievements_Section{
        margin-top: 350px;
    }
}

@media screen and (max-width : 800px) {
    .carousel {
        height: 1150px;
    }

    .carousel__body {
        height: 1150px;
    }

    .carousel__body .carousel__slider__item .item__3d-frame {
        width: 300px;
        height: 1000px;
    }

    .carousel__body .carousel__slider__item .item__3d-frame__box h1 {
        font-size: 35px;
        width: 100%;
        color: var(--box-border);
    }

    .Objectives_carousel__cell {
        width: 500px;
        height: 250px;
        left: 20px;
        top: 10px;
    }
    #Achievements_Section{
        margin-bottom: 150px;
    }
}


@media screen and (max-width : 600px) {
    .Objectives_carousel__cell {
        width: 300px;
        height: 250px;
        left: 100px;
        top: 10px;
    }

    #Achievements_Section {
        margin-top: 500px;
        margin-bottom: 300px;
    }

    .Achieviements_header__title {
        font-size: 3rem;
    }

    .card {
        width: 425px;
        height: 650px;
        margin: auto;
        position: relative;
    }

    .button-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 425px;
        /* Same width as the card */
    }
}

@media screen and (max-width : 500px) {
    .Objectives_carousel__cell {
        width: 300px;
        height: 250px;
        left: 70px;
        top: 10px;
    }

    .Objectives_carousel__controls {
        width: 150px;
        right: 150px;
        top: 0px;
    }
}

@media screen and (max-width : 450px) {
    .Objectives_carousel__cell {
        width: 300px;
        height: 250px;
        left: 40px;
        top: 10px;
    }

    .Objectives_carousel__controls {
        width: 150px;
        right: 120px;
        top: 0px;
    }

    #Achievements_Section {
        margin-top: 600px;
        margin-bottom: 450px;
    }

    .card {
        width: 375px;
        height: 900px;
        margin: auto;
        position: relative;
    }

    .button-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 300px;
        margin: auto;
        /* Same width as the card */
    }
}

@media screen and (max-width : 400px) {
    #Objectives_Section {
        height: 1100px;
    }

    .Objectives_carousel__cell {
        width: 150px;
        height: 400px;
        left: 90px;
        top: 10px;
        font-size: 15px;
    }

    .Objectives_carousel__controls {
        width: 150px;
        right: 120px;
        top: 0px;
    }

    #Agricultural_Power_Energy_H1,
    #Agricultural_Power_Energy_H2 {
        font-size: 40px;
    }

    body {
        overflow-x: hidden;
    }

    #Achievements_Section {
        margin-top: 700px;
        margin-bottom: 500px;
    }

    .Achieviements_header__title {
        font-size: 2.5rem;
    }

    .Achieviements_header__subtitle {
        font-size: 1.5rem;
    }

    .card {
        width: 300px;
        height: 1100px;
        margin: auto;
        position: relative;
    }

    .button-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 200px;
        margin: auto;
        /* Same width as the card */
    }
}