@font-face {
    font-family: PT-Bold-Heading;
    src: url(../Fonts/PT\ Bold\ Heading.ttf);
}

@font-face {
    font-family: Arial-Black;
    src: url(../Fonts/Arial\ Black.ttf);
}

#Upper_Footer_Left_Ar {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-end !important;
    justify-content: space-between !important;
}

#Upper_Footer_Left_En {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    /* width: 100% !important; */
    /* font-size: 15px !important; */
}

#Navigation_Links_Footer_Div_Ar {

    font-family: PT-Bold-Heading;
    font-size: 20px !important;
    direction: rtl;
}

#Navigation_Links_Footer_Div_En {
    font-family: Arial-Black !important;
    direction: ltr;
    margin-top: 50px;
}

#Navigation_Links_Footer_Div_Ar,
#Navigation_Links_Footer_Div_En {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    /* display: none; */
}

#Footer_ContactInfo_Ar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100% !important;
    margin-top: -25px !important;
}

#Footer_ContactInfo_En {
    /* background-color: chartreuse; */
    margin-top: -30px !important;
    display: flex !important;
    flex-direction: column !important;
    /* align-items: center !important; */
    align-items: flex-start !important;
    justify-content: space-between !important;
}

.Single_Contact_Info {
    /* background-color: brown !important; */
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start;
    width: 100% !important;
    margin-top: 10px;
}

.Single_Contact_Info_Ar,
#Land_Line_Span_Ar,
#Fax_Span_Ar,
#Footer_Contact_Us_Heading_Ar {
    font-family: PT-Bold-Heading !important;
}

.Single_Contact_Info_En {
    font-family: Arial-Black !important;
    font-size: 17px;
}

.Single_Contact_Info_Ar {
    font-size: 15px;
    justify-content: flex-end !important;
}

#Address_Div_En {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 20px;
}

#Address_Div_Ar {
    margin-right: 65px;
    margin-left: 20px;
    font-size: 18.5px;
}

#Footer_Contact_Us_Heading_Ar {
    font-size: 40px;
}

#Footer_Logo {
    margin-top: -20px !important;
    margin-left: -30px !important;
}

#Land_Line_Span_Ar {
    font-size: 25px !important;
    margin-left: 50px;
    margin-right: 60px;
    /* margin-left: auto;
    margin-right: auto; */
}

#Land_Line_Span_En {
    font-size: 20px;
    /* margin-left :20px; */
    /* margin-right :40px; */
    margin-right: 6px;
}

#Fax_Span_Ar {
    font-size: 30px !important;
    margin-right: 50px !important;
    margin-left: 155px;
    margin-right: 75px !important;
}

#Contact_Email {
    font-family: Arial-Black !important;
    font-size: 20px !important;
    transition: 0.4s;
    margin-right: 17px;
    margin-left: 160px;
}

#Contact_Email_En {
    font-size: 25px;
    transition: 0.5s;
    margin-left: 60px;
    margin-right: 62px;
}

#Contact_Email_En:hover {
    transform: scale(2);
    text-decoration: underline !important;
    color: rgb(0, 0, 119) !important;
    background-color: var(--footer-background);
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    margin-left: 48px;
}

#Fax_Span_En {
    font-size: 22px;
    margin-right: 100px;
    margin-left: 72px;
}

#Contact_Email:hover {
    transform: scale(2.95);
    text-decoration: underline !important;
    color: rgb(0, 0, 119) !important;
    background-color: var(--footer-background);
    margin-right: 60px !important;
    margin-left: 0px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

#Footer_Section {
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    /* grid-template-columns: 1fr; */
    grid-template-areas: "main"".""footer";
    overflow: hidden;
    width: 100%;
}

#Footer_Container {
    /* display: none; */
    /* --footer-background: rgb(255, 223, 174) !important; */
    --footer-background: rgb(243, 235, 223) !important;
    width: 100% !important;
}

#Footer_Section .footer {
    z-index: 1;
    /* --footer-background: #ed5565; */
    --footer-background: rgb(243, 235, 223);
    display: grid;
    /* grid-template-columns: 1fr; */
    position: relative;
    grid-area: footer;
    min-height: 20rem;
    margin-bottom: -10px;
    /* width: 100%; */
}

#Footer_Section .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

#Footer_Section .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 120%);
}

#Footer_Section .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 4rem; */
    /* padding: 2rem; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--footer-background);
}

#Footer_Section .footer .content a,
#Footer_Section .footer .content p {
    color: black;
    text-decoration: none;
}

#Footer_Section .footer .content b {
    color: white;
}

#Footer_Section .footer p {
    font-family: Arial-Black;
    margin: 0;
    font-size: 2rem;
    padding: 1rem;

}

#Footer_P_En {
    font-size: 1rem !important;
    align-self: flex-end !important;
    /* margin: 0 !important; */
}

#Footer_P_Ar {
    font-family: PT-Bold-Heading !important;
    margin-top: -25px !important;
    font-size: 2.2rem !important;
    /* font-size: 60px !important; */
    /* padding: 1rem; */
    font-weight: bold;
    align-self: flex-start !important;
    text-align: end;
    /* display: none; */
    /* margin-right: 200px !important; */
    /* display: none; */

}

#Lower_Footer_Ar {
    background-color: var(--footer-background);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    padding-bottom: 20px;
    /* margin-top: -50px; */
    /* display: none; */
}

#Lower_Footer_En {
    background-color: var(--footer-background);
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 20px;
    /* margin-bottom: 50px; */
    /* margin-top: -50px; */
    /* display: none; */
}

#Footer_Btns_Div {
    display: flex;
    flex-direction: row;
    align-content: center !important;
    justify-content: space-between;
    margin-top: 30px;
}

#Footer_Section .footer .content>div {
    display: flex;
    flex-direction: column;
}

#Footer_Section .footer .content>div>div {
    margin: 0.25rem 0;
}

#Footer_Section .footer .content>div>div>* {
    margin-right: 0.5rem;
}

#Footer_Section .footer .content>div .image {
    align-self: self-start;
    /* width: 4rem;
    height: 4rem; */
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

@media screen and (max-width : 1050px) {

    #Navigation_Links_Footer_Div_Ar,
    #Navigation_Links_Footer_Div_En {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
        row-gap: 10px;
        /* display: none; */
    }

    #Contact_Email:hover {
        transform: scale(2.5);
        text-decoration: underline !important;
        color: rgb(0, 0, 119) !important;
        background-color: var(--footer-background);
        margin-right: 25px !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width : 900px) {

    #Navigation_Links_Footer_Div_Ar,
    #Navigation_Links_Footer_Div_En {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
        row-gap: 10px;
        /* display: none; */
    }

    #Navigation_Links_Footer_Div_En {
        column-gap: 20px;
        /* font-size: 10px; */
    }

    #Fax_Span_Ar,
    #Fax_Span_En,
    #Address_Div_Ar,
    #Address_Div_En,
    #Land_Line_Span_Ar {
        margin: auto !important;
        text-align: center;
    }

    #Contact_Email:hover {
        transform: scale(2.25);
        text-decoration: underline !important;
        color: rgb(0, 0, 119) !important;
        background-color: var(--footer-background);
        margin-right: -10px !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width : 750px) {
    #Footer_Section .footer .content {
        z-index: 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        /* grid-gap: 4rem; */
        /* padding: 2rem; */
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background: var(--footer-background);
    }

    #Footer_Section .footer .content> :nth-child(1) {
        /* grid-row: 2; */
        /* Move the first row to the second position */
    }

    #Footer_Section .footer .content> :nth-child(2) {
        /* grid-row: 1; */
        /* Move the second row to the first position */
    }

    #Footer_ContactInfo_En {
        /* background-color: chartreuse; */
        margin-top: -30px !important;
        display: flex !important;
        flex-direction: column !important;
        /* align-items: center !important; */
        align-items: center !important;
        justify-content: space-between !important;
        width: 100%;
    }

    #Address_Div_En {
        display: flex;
        flex-direction: row;
    }

    .Single_Contact_Info_En_Special {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
}

@media screen and (max-width : 700px) {

    #Contact_Email:hover {
        transform: scale(2.7);
        text-decoration: underline !important;
        color: rgb(0, 0, 119) !important;
        background-color: var(--footer-background);
        margin-right: 30px !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    #Contact_Email_En:hover {
        transform: scale(2.2);
        text-decoration: underline !important;
        color: rgb(0, 0, 119) !important;
        background-color: var(--footer-background);
        margin-top: 10px !important;
        margin-bottom: 20px !important;
        margin-left: 48px;
    }
}

@media screen and (max-width : 500px) {
    #Upper_Footer_Left_En {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-start !important;
        /* width: 100% !important; */
        /* font-size: 15px !important; */
    }

    #Contact_Email:hover {
        transform: scale(2.25);
        text-decoration: underline !important;
        color: rgb(0, 0, 119) !important;
        background-color: var(--footer-background);
        margin-right: -20px !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    #Contact_Email_En {
        margin: auto;
    }
    #Contact_Email_En:hover {
        transform: scale(1.7);
        text-decoration: underline !important;
        color: rgb(0, 0, 119) !important;
        background-color: var(--footer-background);
        margin-top: 10px !important;
        margin-bottom: 20px !important;
        margin-left: 10px;
}

    #Footer_Btns_Div {
        display: flex;
        flex-direction: column;
        align-content: center !important;
        justify-content: space-between;
        /* margin-top: 30px; */
        margin-left: 25px;
        margin-right: 25px;
    }

    #Footer_P_En {
        margin-bottom: 50px !important;
    }

    #Footer_P_Ar {
        margin-top: 50px !important;
        font-size: 25px !important;
    }
}

@media screen and (max-width : 400px) {

    #Contact_Email:hover {
        transform: scale(1.75);
        text-decoration: underline !important;
        color: rgb(0, 0, 119) !important;
        background-color: var(--footer-background);
        margin-right: -40px !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    #Contact_Email_En:hover {
        transform: scale(1.5);
        text-decoration: underline !important;
        color: rgb(0, 0, 119) !important;
        background-color: var(--footer-background);
        margin-top: 10px !important;
        margin-bottom: 20px !important;
        margin-left: -10px;
}

    #Footer_Btns_Div {
        display: flex;
        flex-direction: column;
        align-content: center !important;
        justify-content: space-between;
        /* margin-top: 30px; */
        margin-left: 25px;
        margin-right: 25px;
    }

    #Footer_P_En {
        margin-bottom: 50px !important;
    }

    #Footer_P_Ar {
        margin-top: 50px !important;
        font-size: 25px !important;
    }
}